<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>New_EMS</display-name>
  <welcome-file-list>
    <welcome-file>Homemain.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.psq.ems.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>com.psq.ems.controller.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/ViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateViewEmployee</servlet-name>
    <servlet-class>com.psq.ems.controller.UpdateViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateViewEmployee</servlet-name>
    <url-pattern>/UpdateViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.psq.ems.controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSalary</servlet-name>
    <servlet-class>com.psq.ems.controller.AddSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalary</servlet-name>
    <url-pattern>/AddSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortSalary</servlet-name>
    <servlet-class>com.psq.ems.controller.SortSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortSalary</servlet-name>
    <url-pattern>/SortSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalaryViewEmployee</servlet-name>
    <servlet-class>com.psq.ems.controller.SalaryViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryViewEmployee</servlet-name>
    <url-pattern>/SalaryViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSalary</servlet-name>
    <servlet-class>com.psq.ems.controller.UpdateSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSalary</servlet-name>
    <url-pattern>/UpdateSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>com.psq.ems.controller.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignProject</servlet-name>
    <servlet-class>com.psq.ems.controller.AssignProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignProject</servlet-name>
    <url-pattern>/AssignProject</url-pattern>
  </servlet-mapping>
</web-app>